html  { 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* background-size: 100%; */
    /* background-size: 100%; */
    background-image: url(../image/profile-background.jpg);
	}
body  { 
}
#todo-list              { margin-bottom:30px; }
.main{
	height : 100vh;
}
.personal {
	background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.8);
}
.loading {
	height: 100vh;
    background:
        radial-gradient(#1C1E67,#070331);

}
.logo {
	width: 5em;
	height: 2em;
}
.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

.timeline-body {
 
}
    .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #eeeeee;
        left: 50%;
        margin-left: -1.5px;
    }

    .timeline > li {
		margin-top: 50px;
		margin-bottom: 50px;
		position: relative;
    }
	.timeline > li  > .timeline-panel{
		color: white;
    }
        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li:before {
				position: absolute;
                display: inline-block;
 
		}
		,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li > .timeline-panel {
            width: 35%;
            float: left;
            border-top: 1px solid #d4d4d4;
            border-radius: 2px;
            padding: 20px 0 20px 20px;
            position: relative;
            -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        }

            .timeline > li > .timeline-panel:before {
              
 
            }

            .timeline > li > .timeline-panel:after {

            }

        .timeline > li > .timeline-badge {
			opacity:0.1;
            color: #fff;
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 1.4em;
            text-align: center;
            position: absolute;
            top: -25px;
            left: 50%;
            margin-left: -25px;
            background-color: #999999;
            z-index: 100;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
        }
		li.visible .timeline-badge {
			animation-timing-function: linear;
			animation: showBadge 1s;
			animation-fill-mode: forwards;
		}
 @keyframes showBadge {
	0% {
		opacity:0;
	}
 
	100% {
 		opacity: 1;
	}
}  

		.timeline-badge.primary {
			background-color: #2e6da4 !important;
		}

		.timeline-badge.success {
			background-color: #3f903f !important;
		}

		.timeline-badge.warning {
			background-color: #f0ad4e !important;
		}

		.timeline-badge.danger {
			background-color: #d9534f !important;
		}

		.timeline-badge.info {
			background-color: #5bc0de !important;
		}

		.timeline-title {
			margin-top: 0;
			color: inherit;
		}

		.timeline-body > p,
		.timeline-body > ul {
			margin-bottom: 0;
		}

			.timeline-body > p + p {
				margin-top: 5px;
			}

		@media (max-width: 767px) {
			ul.timeline:before {
				left: 40px;
			}

			ul.timeline > li > .timeline-panel {
				width: calc(100% - 90px);
				width: -moz-calc(100% - 90px);
				width: -webkit-calc(100% - 90px);
			}

			ul.timeline > li > .timeline-badge {
				left: 15px;
				margin-left: 0;
				top: 16px;
			}

			ul.timeline > li > .timeline-panel {
				height: 400px
				float: right;
			}

				ul.timeline > li > .timeline-panel:before {
					border-left-width: 0;
					border-right-width: 15px;
					left: -15px;
					right: auto;
				}

				ul.timeline > li > .timeline-panel:after {
					border-left-width: 0;
					border-right-width: 14px;
					left: -14px;
					right: auto;
				}
		}
 
 /* anything aboive 377*/
@media screen 
  and (min-device-width: 377px) 
  and (max-device-width: 1600px){
 .timeline-inverted .timeline-panel-anim{
	animation: moveLeft 0.4s;
	animation-fill-mode: forwards;
}
.timeline-odd .timeline-panel-anim{
	animation: moveRight 0.4s;
	animation-fill-mode: forwards;
}

@keyframes showHiddenDiv {
    0% {
		opacity: 0.1;
    }
    100% {
		opacity: 1;
    }
}

@keyframes moveRight {

	100% {

		transform: translate3d(40%,0,0); 
	}
}
@keyframes moveLeft {
	100% {
		transform: translate3d(-40%,0,0);
	}
}

.reveal{
	opacity: 0.1;
}
.timeline-panel-first {
	font-size: large;
}


        .timeline > li.timeline-inverted > .timeline-panel {
            float: right;
        }

            .timeline > li.timeline-inverted > .timeline-panel:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }

            .timeline > li.timeline-inverted > .timeline-panel:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }


.timeline-inverted .timeline-panel-anim .reveal {
	-webkit-animation-delay: 2s; /* Chrome, Safari, Opera */
    animation-delay: 2s;
	animation: showHiddenDiv 2s;
	animation-fill-mode: forwards;
}
.timeline-odd .timeline-panel-anim .reveal {
	-webkit-animation-delay: 2s; /* Chrome, Safari, Opera */
    animation-delay: 2s;
	animation: showHiddenDiv 2s;
	animation-fill-mode: forwards;
}

}
/* Phone */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px) {
	 @keyframes floatAnim {
		0% {
			opacity:0.5;
		}
	 
		100% {
	 		opacity: 1;
	 		margin-left: 20%;
		}
	}  
	.timeline-panel {
		animation: floatAnim 1s;
		animation-fill-mode: forwards;
	}
}
